# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Cache directories
.cache/
coverage/
dist/
build/

# Production files
*.tar.gz
*.zip

# MongoDB
dump/
